*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
}
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.h1__title {
  color: #ee6436;
  font-weight: bold;
  font-size: 0.6rem;
}

.span__section {
  font-family: inherit;
  font-weight: 800;
  font-size: 1.2rem;
}
