*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
}
body {
  margin: 0;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: end;
}

.section__div {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.h1__title {
  color: #ee6436;
  font-weight: bold;
  font-size: 0.6rem;
}

.span__section {
  font-family: inherit;
  font-weight: 800;
  font-size: 1.2rem;
}

.cta__button {
  padding: 1.2rem;
  background-color: #ee6436;
  margin-top: 2rem;
  border-radius: 10%;
  border-top-left-radius: 0;
  border: none;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
}

.section-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.section-images img {
  width: 50%;
  height: 50%;
  border-radius: 6%;
}
